html {
  background: black;
}
body {
  width: 80%;
  color: #555;
  background: white;
  margin: 20px auto;
}

header {
  overflow: hidden;
  background: #ededed;
  padding: 20px;
}

.header_left  {
  float: left;
  width: 50%;
  overflow: hidden;
}
.header_left_img {
  float: left;
  margin-right: 20px;
}
.header_left_img img {
  width: 100px;
  border-radius: 50%;
}
.header_left_content {
  float: left;
}
.header_right {
  float: left;
  width: 50%;
  text-align: right;
}
.header_right .contact {
  text-align: left;
  display: inline-block;
}
.content {
  padding: 20px;
  clear: both;
}



.row {
  overflow: hidden;
  clear: both;
  border-bottom: 2px solid red;
}
.row:last-child {
  border: none;
}

.col_left {
  width: 25%;
  float: left;
}

.col_left h2 {
  font-style: italic;
}
.col_right {
  overflow: hidden;
  width: 75%;
  float: left;
}

.same_width {
  float: left;
  width: 33%;
}

